eror.txt
/er#
# команды Git
# .gitignore
# git add . сохраняет изменения 
# git status проверяет статус 
# git branch - просмотр ветки 
# для того чтобы создать новую ветку 
# нам необходимо обратиться к команде git branch test  
# тест это новая ветка 
# для того чтобы удалить git branch -D (название ветки)
# для того чтобы переключиться на другую ветку необходимо 
# вызвать git checkout (название ветки)
# чтобы создать новую ветку и сразу на нее переключиться
# создаем команду git checkout -b new(и название ветки )